name: GitHub to Discord Relay

on:
  push:
  pull_request:
  issues:
  release:
    types: [published]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send event to relay webhook
        env:
          WEBHOOK_URL: https://soft-cloud-7e79.gamerzayush62.workers.dev/
        
        run: |
           PAYLOAD=$(jq -n \
           --argjson commits "$(jq .commits "$GITHUB_EVENT_PATH")" \
           --arg pusher "$(jq -r .pusher.name "$GITHUB_EVENT_PATH")" \
           --arg repo "$GITHUB_REPOSITORY" \
           --arg ref "$GITHUB_REF" \
           --arg actor "$GITHUB_ACTOR" \
           '{event:"push", repository:$repo, ref:$ref, actor:$actor, pusher:$pusher, commits:$commits}')
            curl -X POST -H "Content-Type: application/json" \
            -d "$PAYLOAD" \
            "$WEBHOOK_URL"
